/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS Ends */

body {
    background-image: url("img/stars.jpg");
    background-repeat: no-repeat;
    background-color: #0e1316;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1,
h2,
h3,
p {
    color: aliceblue;
    text-align: center;
    position: relative;
    top: 10rem;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(172, 25, 57);
    position: relative;
    top: 10rem;
    margin-bottom: 0.75rem;
}

#save-btn {
    background: rgb(25, 172, 169);
    position: relative;
    top: 10rem;
}


/* Media Queries */

@media only screen and (min-width: 320px) {
    body {
        height: 885px;
        background-position: center;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-size: 650px 900px;
        background-position: center;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-size: 768px 900px;
        background-position: center;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-size: 768px 1100px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (min-width: 2560px) {
    body {
        margin-bottom: 25%;
        background-size: 768px 1300px;
        background-position: center;
    }

    .content {
        margin-top: 10% !important;
    }
}

/* 
@media screen and (max-width: 1440px) {
    body {
        background-size: 768px 900px;
        background-position: center;
    }
} */